# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
med_llm/
venv/
.env

# Streamlit
.streamlit/secrets.toml

# Data
data/images/

# Models
models/*.pth
models/*.faiss

# Outputs
outputs/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db